<?xml version="1.0" encoding="UTF-8"?>
<!-- https://www.cnblogs.com/chrischennx/p/6781574.html -->
<configuration debug="false">
    <conversionRule conversionWord="clr" converterClass="net.ewant.jmqttd.logger.ColorConverter" />
    <conversionRule conversionWord="wex" converterClass="net.ewant.jmqttd.logger.WhitespaceThrowableProxyConverter" />
    <conversionRule conversionWord="wEx" converterClass="net.ewant.jmqttd.logger.ExtendedWhitespaceThrowableProxyConverter" />
    <property name="LOG_HOME" value="/temp/jmqttd/logs" />
    <property name="FILE_NAME" value="jmqttd-info" />
    <property name="CONSOLE_LOG_PATTERN" value="${CONSOLE_LOG_PATTERN:-%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{40} >%4line){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>
    <property name="FILE_LOG_PATTERN" value="${FILE_LOG_PATTERN:-%d{yyyy-MM-dd HH:mm:ss.SSS} ${LOG_LEVEL_PATTERN:-%5p} ${PID:- } --- [%t] %-40.40logger{40} >%4line : %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>${CONSOLE_LOG_PATTERN}</Pattern>
        </layout>
    </appender>
    <appender name="FILE_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/${FILE_NAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${LOG_HOME}/${FILE_NAME}.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- keep 30 days' worth of history capped at 1GB total size -->
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>${FILE_LOG_PATTERN}</Pattern>
        </layout>
    </appender>
	<logger name="java.sql" level="DEBUG"></logger>
    <logger name="org.apache.ibatis" level="DEBUG"></logger>
    <logger name="io.netty" level="INFO"></logger>
	<root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>
    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <!-- <appender-ref ref="FILE_APPENDER" /> -->
    </root>
</configuration>